# Ignore Python bytecode and logs
*.pyc
*.pyo
__pycache__/
*.log

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc

# Ignore environment files
.env

# Ignore virtual environment folder
venv/
env/
